*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

body {
    font-family: 'Roboto';
}

.header-wrapper {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
}

.conteiner {
    max-width: 1264px;
    margin: 0 auto;
}

.header {
    padding: 22px 0px 22px 0px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header-logo {
    position: absolute;
    left: 0px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-nav {
    display: block;
    color: #1B365D;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 16px;
    margin-left: 32px;
}

.header-login {
    display: flex;
    align-items: center;
}

.login {
    display: block;
    font-size: 11px;
    font-weight: 700;
    color: #1B365D;
    padding: 8px 24px;
    border:none;
    background-color: transparent;
    border: 1px solid #A7BBC9;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 100px;
}

.login a {
    color: #1B365D;
}

.main-wrapper {
    background-image: url(../img/Rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 696px;
    background-position: center;
    margin: 0 auto;
    position: relative;
}

.main {
    padding-top: 190px;
}

.main-conteiner {
    max-width: 404px;
}

.main-heading {
    font-size: 56px;
    font-weight: 700;
    color: #1B365D;
    margin-bottom: 22px;
    line-height: 62px;
}

.main-text {
    font-size: 18px;
    font-weight: 700;
    color: #434140;
    margin-bottom: 53px;
}

.watch {
    display: inline-block;
    color: #1B365D;
    padding: 13px 36px;
    border: none;
    background-color: transparent;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.main-button a {
    color: #1B365D;
    font-size: 14px;
    font-weight: 700;
}

.watch:last-child {
   background-color: transparent;
}

.banner {
    width: 500px;
    height: 86px;
    background-color: #F1C0C7;
    padding: 16px;
    margin-left: -88px;
    padding-left: 88px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -22px;
}

.banner i {
    display: inline-block;
    width: 84px;
    height: 54px;
    background-image: url(../img/icon_banner.png);
    background-size: 84px 54px;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.banner-right-part {
    display: inline-block;
}

.banner-main {
    font-size: 15px;
    font-weight: 700;
    color: #1B365D;
    margin-bottom: 4px;
}

.banner-text {
    font-size: 14px;
    font-weight: normal;
    color: #1B365D;
}

.portal-wrapper {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
}

.portal {
    display: flex;
    margin: 0 auto;
    padding-top: 114px;
    padding-bottom: 32px;
}

.portal-item {
    position: relative;
    margin: 0 8px;
}

.portal-item:first-child {
    margin-left: 0px;
}

.portal-item:last-child {
    margin-right: 0px;
}

.portal img {
    width: 100%;
}

.portal-content {
    position: absolute;
    bottom: 0px;
    align-content: center;
    padding: 32px;
    color: #fff;
    text-align: center;
}

.portal-content a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.portal-content h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
}

.portal-content p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 21px;
}

.smart-keeps-wrapper {
    background-color: #D0E8EA;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;
}

.smart-keeps-wrappers {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 50%;
    position: absolute;
    top: 0px;
}

.smart-keeps {
    padding-top: 4px;
    padding-bottom: 48px;
    position: relative;
}

.smart-content h2 {
    font-size: 50px;
    font-weight: 700;
    color: #1B365D;
    max-width: 682px;
    line-height: 55px;
    margin-bottom: 44px;
}

.smart-photo {
    background-image: url(../img/Smart_camera.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 632px;
    margin-bottom: 32px;
}

.keeps-wrapper {
    background-color: #D0E8EA;
    width: 100%;
    margin: 0 auto;
}

.keeps {
    display: flex;
    padding-left: 90px;
}

.keeps-content {
    max-width: 357px;
    margin-right: 156px;
}

.keeps-content h4 {
    font-size: 24px;
    font-weight: 700;
    color: #1B365D;
    margin-bottom: 12px;
}

.keeps-content p {
    font-size: 17px;
    font-weight: normal;
    color: #434141;
    line-height: 23px;
    margin-bottom: 20px;
}

.keeps-content a {
    font-size: 14px;
    font-weight: normal;
    color: #1B365D;
}

.video-wrapper {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}

.video {
    display: flex;
    padding-top: 16px;
    padding-left: 158px;
    padding-bottom: 168px;
}

.video-img i{
    display: block;
    background-image: url(../img/Makes_video.png);
    background-repeat: no-repeat;
    width: 100%;
    min-width: 378px;
    min-height: 553px;
    margin-right: 150px;
}


.video-messeng {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #1990FF;
    border-radius: 50%;
    margin-right: 16px;
    position: relative;
}
.video-text {
    max-width: 512px;
}

.video-messeng i{
    background-image: url(../img/messeng.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    width: 100%;
    position: absolute;
    background-position-x: center;
    bottom: 30%;
}

.video-whatsapp {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    position: relative;
}

.video-whatsapp i{
    background-image: url(../img/whatsapp.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    width: 100%;
    position: absolute;
    background-position: center;
    bottom: 30%;
}

.video-icons {
    margin-bottom: 20px;
}

.video-text h2 {
    display: inline-block;
    font-size: 50px;
    font-weight: normal;
    color: #1B365D;
    line-height: 55px;
    max-width: 460px;
    margin-bottom: 22px;
}

.video-text p{
    font-size: 17px;
    font-weight: normal;
    color: #615E5C;
    line-height: 23px;
    max-width: 485px;
    margin-bottom: 16px;
}

.video-text p:last-child {
    font-size: 11px;
    font-weight: normal;
    color: #AEABA8;
    line-height: 18px;
    max-width: 505px;
}

.discover-wrapper {
    background-image: url(../img/discover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 720px;
    background-position: center;
}

.discover {
    padding-top: 325px;
    padding-bottom: 58px;
    position: relative;
}

.discover-content {
    max-width: 426px;
    margin-bottom: 56px;
}

.discover-content h2 {
    display: inline-block;
    font-size: 50px;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 55px;
    margin-bottom: 22px;
}

.discover-content p {
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 23px;
    margin-bottom: 26px;
}

.discover-content p:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 0px;
}

.discover-content::before {
    content: "";
    display: block;
	width: 4px;
	height: 216px;   
	position: absolute;
	top: 327px;      
	left: -24px;   
	background: transparent;
	background-color: #615E5C;
    border-radius: 4px;
}

.discover-content::after {
    content: "";
    display: block;
	width: 4px;
	height: 204px;   
	position: absolute;
	top: 327px;      
	left: -24px;   
	background: transparent;
	background-color: #ADD4E0;
    border-radius: 4px;
}

.discover-content2 {
    position: relative;
}

.discover-content2 p {
    font-size: 17px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 23px;
    margin-bottom: 26px;
}

.discover-content2 p::after {
    content: "";
    display: block;
	width: 4px;
	height: 22px;   
	position: absolute;
	top: 0px;      
	left: -24px;   
	background: transparent;
	background-color: #615E5C;
    border-radius: 4px;
}

.discover-content2 p:last-child:before {
    content: "";
    display: block;
	width: 4px;
	height: 22px;   
	position: absolute;
	top: 50px;      
	left: -24px;   
	background: transparent;
	background-color: #615E5C;
    border-radius: 4px;
}

.alexa-wrapper {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}

.alexa {
    padding-top: 90px;
    padding-bottom: 100px;
}

.alexa-content {
    display: flex;
}

.alexa-content-left {
    max-width: 422px;
    margin-right: 74px;
}

.alexa-content-left i {
    display: block;
    background-image: url(../img/Alexa.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60px;
    margin-bottom: 14px;
}

.alexa-content-left h2 {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    color: #1B365D;
    line-height: 55px;
    margin-bottom: 22px;
}

.alexa-content-left p {
    font-size: 17px;
    font-weight: 400;
    color: #615E5C;
    line-height: 23px;
    margin-bottom: 46px;
}

.alexa-content-left a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    width: 127px;
    color: #1B365D;
    padding: 13px 25px;
    background-color: transparent;
    background-color: #ADD4E0;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.alexa-img i{
    display: block;
    background-image: url(../img/Alexa_photo.png);
    background-repeat: no-repeat;
    width: 100%;
    min-width: 648px;
    min-height: 484px;
    padding-top: 12px;
    margin-bottom: 6px;
    position: relative;
}

.alexa-img p{
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    color: #AEABA8;
    width: 465px;
    position: absolute;
    left: 48%;
    text-align: center;
}

.private-wrapper {
    background-color: #D0E7EA;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.private-wrapper-after {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 50%;
    position: absolute;
    top: 0px;
}

.private {
    display: flex;
    margin: 0 auto;
}

.private-item {
    position: relative;
    margin: 0 10px;
}

.private-item:first-child {
    margin-left: 0px;
}

.private-item:last-child {
    margin-right: 0px;
}

.private img {
    width: 100%;
}

.private-content-left {
    position: absolute;
    top: 0px;
    align-content: center;
    padding: 32px;
    text-align: start;
    max-width: 510px;
}

.private-content-left a {
    color: #1B365D;
    font-size: 14px;
    font-weight: 700;
}

.private-content-left h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1B365D;
}

.private-content-left p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #434140;
    line-height: 22px;
}

.private-content-right {
    position: absolute;
    top: 0px;
    align-content: center;
    padding: 32px;
    text-align: start;
    max-width: 510px;
}

.private-content-right a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
}

.private-content-right h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.private-content-right p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #FFFFFF;
    line-height: 22px;
}

.product-wrapper {
    background-color: #D0E7EA;
    width: 100%;
    margin: 0 auto;
}

.product {
    padding-top: 56px;
    padding-bottom: 29px;
}

.product-title {
    margin-bottom: 51px;
}

.product-title-second {
    display: flex;
    align-content: center;
}

.product-title h2 {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    color: #1B365D;
    line-height: 55px;
    margin-bottom: 27px;
    max-width: 480px;
}

.product-title i {
    display: inline-block;
    width: 84px;
    height: 54px;
    background-image: url(../img/icon_banner.png);
    background-size: 84px 54px;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.product-banner {
    display: inline-block;
}

.product-text1 {
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    color: #1B365D;
}

.product-text2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #1B365D;
}

.product-items {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-basis: auto;
    margin-bottom: 40px;
}

.product-item {
    display: inline-block;
    max-width: 304px;
    background-color: #F7F7F7;
    padding: 32px 18px 24px 18px;
    margin: 0 8px;
    flex: auto;
    width: 25%;
}

.title-buy {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    color: #1B365D;
    margin-bottom: 25px;
}

.title-buy h4 {
    position: relative;
}

.title-buy span {
    position: absolute;
    height: 14px;
    font-size: 10px;
    top: -4px;
    left: -8px;
}

.product-item img {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    margin-left: 37px;
    margin-right: 37px;
}

.product-item:first-child {
    margin-left: 0px;
}

.product-item:last-child {
    margin-right: 0px;
}

.content-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-buy p {
    display: inline;
    max-width: 144px;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #434140;
    text-align: center;
    margin: 31px;
}

.buy-now {
    width: 108px;
    height: 46px;
    background-color: #1877F2;
    border-radius: 24px;
    text-align: center;
    padding: 13px 25px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    align-content: center;
    margin-bottom: 24px;
}

.buy-now a {
    color: #FFFFFF;
}

.buy-more {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.buy-more a {
    color: #1B365D;   
}

.compare-position {
    display: flex;
    justify-content: center;
}

.product-compare {
    width: 193px;
    height: 46px;
    background-color: #FFFFFF;
    border-radius: 24px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 13px 33px;
}

.product-compare a {
    color: #1B365D;
}

.footer-wrapper {
    background-color: #272E38;
    width: 100%;
    margin: 0 auto;
}

.footer {
    padding-top: 64px;
    padding-bottom: 48px;
    display: flex;
}

.footer-contents {
    padding-left: 204px;
}
.footer-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 68px;
}

.footer-nav {
    min-width: 203px;
}

.footer-nav a {
    display: block;
    color: #DADBDD;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 17px;
}

.footer-form {
    min-width: 402px;
}

.footer-form p {
    max-width: 264px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #9CA5B0;
    margin-bottom: 15px;
}

.footer-form a {
    display: block;
    width: 103px;
    height: 40px;
    background-color: #FFFFFF;
    padding: 10px 25px;
    color: #1B365D;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    margin-bottom: 52px;
    text-align: center;
}

.footer-form select {
    display: block;
    border-style: none;
    appearance: none;
    background-color: transparent;
    color: #FFFFFF;
    background: #272E38;
    border: 1px solid #3D434C;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 68px;
    font-weight: normal;
}

.language {
    position: relative;
}

.language:before {
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    color: #9CA5B0;
    position: absolute;
}

.footer-text {
    max-width: 815px;
}

.footer-text p {
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 21px;
    color: #9CA5B0;
}